<%- include("partials/header") -%>

  <body>
    <h4>Crie seu questionário.</h4>
    <form action="/criar" method="post">
      <label for="Título">Crie um título</label>
      <br>
      <input type="text" name="tituloQuestionario">
      <br>
      <label for="Título">Escolha o usuario</label>
      <br>
      <select id="cars" name="usuarioQuestionario">
        <option value="Pedro">Pedro</option>
        <option value="Isabela">Isabela</option>
        <option value="Fernando">Fernando</option>
        <option value="Stella">Stella</option>
      </select>
      <button type="submit">Criar questionário</button>
    </form>

    <%- include("partials/footer") -%>